/* * {
    filter: grayscale(1)
} */

html {
    font-family: Tahoma;
}

body {
    background-color: indigo;
}

h1 {
    color: white; 
    text-align: center;
    font-variant: small-caps;
}

title {
    color: white;
}

button {
    display: block; 
    margin: auto;
    cursor: pointer;
}

img {
    display: block; 
    margin: auto;
}

a:link {
    color: white;
}

a:visited {
    color: grey;
}

hr {
    border: 2px solid white;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 2px solid white;
  background-color: indigo;
  width: auto;
  border-style: none none none none;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: indigo;
    color: white;
    float: left;
    border: 2px solid white;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-variant: small-caps;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: blueviolet;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:slateblue;
}

/* Style the tab content */
.tabcontent {
  display: none;
  color: white;
  padding: 6px 12px;
  border: 2px solid white;
  border-top: 2px solid white;
  font-size: 1rem;
  max-width: 75ch;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}
.copyright {
    color: white;
    text-align: right;
}
.container {
    display: grid;
    align-items: center;
    justify-content: center;
}